// sidebar
$menuText: #439A97;
$menuActiveText: #94b89e;
$subMenuActiveText: #439A97; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #fff; // menu 背景色
//$menuHover: #62B6B7;
$menuHover: #FFFFFF;

$subMenuBg: #fff; // menu-item 背景色
//$subMenuHover: #62B6B7;
$subMenuHover: #FFFFFF;

$sideBarWidth: 280px; // 左菜單寬度

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
