// sidebar
$menuText: #97DECE;
$menuActiveText: #CBEDD5;
$subMenuActiveText: #97DECE; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #439A97; // menu 背景色
$menuHover: #62B6B7;

$subMenuBg: #439A97; // menu-item 背景色
$subMenuHover: #62B6B7;

$sideBarWidth: 280px; // 左菜單寬度

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
